a{
	color: $font-color2;
	text-decoration: none;
	&:hover{
		color:$font-color1;
	}
	
	&.active{
		color:$font-color1;
	}
}

h1{
	font-weight: 500;
}

article{
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
}


.scrollbar-1
{
	::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: $background-color4;
		border-radius: 10px;
	}

	::-webkit-scrollbar
	{
		width: 10px;
		background-color: $background-color4;
	}

	::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		background-image: -webkit-gradient(linear,
			left bottom,
			left top,
			$scrollbar-color);
	}
}

.mask{
  position:absolute;
  z-index: 5;
  left: 5%;
  bottom: 0;
  top: 0%;
  right: 0;
  width: 100%;
  height: 0;
  object{
    width: 90vw;
    height: 90vh;
  }
}


.opacityHide{
	opacity: 0;
	transition: all 250ms linear;
}

.opacityShow{
	opacity: 1;
	transition: all 250ms linear;
}

.fadeIn{
	animation: fadeIn 250ms linear 0s 1;
}

.fadeOut{
	animation: fadeOut 250ms linear 0s 1;
}