$fg:#ff4081;
$bg:#3f51b5;
$pi:3.14;
$menu-items:5;
$open-distance:80px;
$opening-angle:$pi - .2;

.mobile-nav{
  position: fixed;
  z-index: 10;

  width:0;
  left:6%;
  .menu{
    @extend %goo;
    $width:300px;
    $height:150px;
    position:absolute;
    left: 8%;
    top:10px;
    margin-left:-$width/2;
    padding-left:$width/2;
    width:0;
    height:0;
    box-sizing:border-box;
    font-size:20px;
    text-align:left;
  }



}

%goo{
  filter:url('#shadowed-goo');
}
%ball{
  $width:50px;
  background:transparent;
  border-radius:100%;
  width: $width;
  height: $width;
  margin-left:-10px;
  position:absolute;
  top:0px;
  color:white;
  text-align:center;
  line-height: $width;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
}
.menu-open{
  display:none;
}
.menu-item{
  @extend %ball;
}
.hamburger{
  opacity: 0;
  $width:55px;
  width:$width;
  height:$width;
  background:white;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-$width/2;
  margin-top:-$width/2;
}
.menu-open:checked+.menu-open-button{
}



.menu-item{
  img{
    width: 100%;
  }

  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:10ms+(60ms*($i));
    }
  }
}

@keyframes float {
  from, to {
    transform: translate3d(0,0,0);
  }

  50%{
    transform: translate3d(0,-10px,0);
  }
}


.menu-open-button{
  @extend %ball;

  z-index:2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
}
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(0.8,0.8) translate3d(0,0,0);
}

.menu-open:checked~.menu-item{
  box-shadow: 1px 2px 4px rgba(20%,20%,40%,0.8);
  background:$fg;
  transition-timing-function:cubic-bezier(0.935, 0.000, 0.340, 1.330);
  @for $i from 1 through $menu-items{
    $angle:(($pi - $opening-angle)/2)+(($opening-angle/($menu-items - 1))*($i - 1));
    &:nth-child(#{$i+2}){

      &:hover{
       transition-duration:80ms+(80ms*$i);
       transform:translate3d(cos($angle)*$open-distance,sin($angle)*$open-distance,0) scale(1.2, 1.2);
     }


     transition-duration:80ms+(80ms*$i);
     transform:translate3d(cos($angle)*$open-distance,sin($angle)*$open-distance,0);
   }
 }
}
